{{ define "main" }}
<style>
    .card {
    background-color: #fff0f5;
    color: #5c3b32;
}
</style>

<div class="container">
    <div class="card my-5" style="border: 3px dashed #ffb6c1;">
        <div class="card-body">
            <h2 style="font-family: 'Mochiy Pop One', sans-serif; color: #d47d9c;">あなたの誕生日から、<br>特別なケーキ言葉を見つけよう</h2>


    {{ partial "my/birthday_input.html" . }}

        </div>
    </div>


    


    <div id="result-area" class="result-area">
        <!-- 結果はここに表示されます -->
    </div>
</div>

<footer>
    <p>© 2025 あなたのケーキ言葉占い</p>
</footer>
{{ end }}